@import '../../../styles/variables';

.crowd-entries-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
}


.table-card {
  max-height: calc(100vh - 255px);
  background: #fff;
  border-radius: 8px;
  border: 1px solid rgba(26, 26, 26, 0.1);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

.table-card::-webkit-scrollbar {
  width: 6px;
}

.table-card::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}

.table-card::-webkit-scrollbar-track {
  background: transparent;
}

.entries-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    background: rgba(232, 232, 232, 1);
    font-size: 14px;
    // text-transform: uppercase;
    color: rgba(13, 13, 13, 1);
    padding: 14px 16px;
    text-align: left;
    letter-spacing: 0.1px;
    font-weight: 600;
  }

  tbody td {
    padding: 14px 16px;
    font-size: 14px;
    color: rgba(105, 105, 116, 1);
    border-bottom: 1px solid #e5e7eb;
    letter-spacing: 0.1px;
    font-weight: 400;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }
}

.name-cell {
  display: flex;
  align-items: center;
  gap: 12px;

  .avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}


.pagination-btn,
.page-btn {
  min-width: 30px;
  height: 36px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  color: #111827; // Darker text for numbers
  cursor: pointer;

  background: none;
  border: none;
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease;
  user-select: none;
}


button.pagination-btn.material-symbols-outlined {
  background: none;
  border: 0;
  font-size: 18px;
  color: #6b7280;

  &:hover:not(:disabled) {
    color: #111827;
  }
}

.page-btn.active {
  color: #0f766e;
  font-weight: 600;
  border-bottom: 3px solid #0f766e; // Slightly thicker
}

.ellipsis-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  height: 32px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  color: #374151;
  font-weight: 500;
  margin: 0 4px;
  padding-bottom: 4px; // Adjust alignment of dots
}


.pagination-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.no-data {
  text-align: center;
  font-size: 16px;
}


.table-loader {
  height: 100%;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #6b7280;
  font-size: 14px;
}


.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #4db6ac;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}