@import '../../../../styles/variables';

.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background: $light-bg;
}

.main-content {
    flex: 1;
    margin-left: $sidebar-width;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: 0.3s ease-in-out all;
}

.content-area {
    flex: 1;
    padding: $content-padding;
    overflow-y: auto;
}


@media (max-width: $breakpoint-tablet) {
    .main-content {
        margin-left: 0;
    }

    .content-area {
        padding: $spacing-lg;
    }
}